<div class="container pt-4 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8">
    <div>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Upload job
                    </mat-panel-title>
                    <mat-panel-description>
                        click here
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <app-upload-job></app-upload-job>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div class="flex flex-col items-center justify-center mt-5">
        <h2>Uploaded Jobs Table</h2>
        <div class="w-full">
            <app-jobs-table></app-jobs-table>
        </div>
    </div>

</div>