<div class="search pt-4 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8">
    <div class="justify-start flex right-0 items-center">
        <span>
            <a href="#">Home</a>
        </span>
        <mat-icon>keyboard_arrow_right</mat-icon>
        <span>
            {{type}}
        </span>
    </div>

    <div class="pt-5">
        <h1>Off-Campus Job Openings</h1>
        <div class="grid grid-cols-1 lg:grid-cols-5 gap-4">
            <!-- Left column for product listings -->
            <div class="col-span-3">
                <div class="p-4">
                    <!-- cards line -->
                    <div>
                        <div class="flex">
                            <div class="">
                                <img src="../../../assets/images/Career_Yojna.png" style="width: 200px" />
                            </div>
                            <div class="flex pl-4 p-3 flex-col justify-between">
                                <div class=" cursor-pointer changing">
                                    <p style="font-size: 1.5rem;" class="text-xl">IBM Off Campus Placement Jobs in India for Freshers 2024</p>
                                </div>
                                <div class="flex">
                                    <span class="mr-3">
                                        <a class="font-bold" href="">CareerYojna</a>
                                    </span>
                                    <span class="font-light">
                                        20 March , 2024
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <!-- Right column for latest products -->
            <div class="col-span-2 lg:col-span-2">
                <div class="p-4">
                    <h2 class="text-lg font-semibold mb-4">Latest Products</h2>
                    <div>
                        <div class="flex">
                            <div class="">
                                <img src="../../../assets/images/Career_Yojna.png" style="width: 100px;" />
                            </div>
                            <div class="flex pl-4 flex-col justify-between">
                                <div class=" cursor-pointer changing font-medium">
                                    <p style="font-size: 1rem;">IBM Off Campus Placement Jobs in India for Freshers 2024</p>
                                </div>
                                <div class="flex">
                                    <span class="font-light">
                                        20 March , 2024
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>