<div class="search pt-4 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8">
    <div class="justify-start flex right-0 items-center">
        <span>
            <a href="#">Home</a>
        </span>
        <mat-icon>keyboard_arrow_right</mat-icon>
        <span>
            {{type}}
        </span>
    </div>

    <div class="pt-5">
        <h1>Off-Campus Job Openings</h1>
        <div class="grid grid-cols-1 lg:grid-cols-5 gap-4">
            <!-- Left column for product listings -->
            <div class="col-span-3">
                <div class="p-4">
                    <!-- cards line -->
                    <div *ngFor="let job of jobList" (click)="navigateToJob(job.id)" class="cursor-pointer">
                        <div class="flex mb-4" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;">
                            <div class="">
                                <img [src]="job.img_url" style="width: 200px; height: 200px;" />
                            </div>
                            <div class="flex pl-4 p-3 flex-col justify-between">
                                <div class=" cursor-pointer changing">
                                    <p style="font-size: 1.5rem;" class="text-xl">{{ job.title }}</p>
                                    <p style="font-size: 1rem" class="text-gray-700">{{ job.mini_description }}</p>
                                </div>
                                <div class="flex">
                                    <span class="mr-3">
                                        <a class="font-bold" href="">{{ job.company_name }}</a>
                                    </span>
                                    <span class="font-light">{{ job.post_date | date:'dd MMM, yyyy' }}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Right column for latest products -->
            <div class="col-span-2 lg:col-span-2">
                <div class="p-4">
                    <div
                        class="text-center mb-5"
                        style="box-shadow:  rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px">
                        <h2 class="text-lg font-semibold mb-4 border-2 border-fuchsia-400">Latest Products</h2>
                    </div>

                    <div *ngFor="let job of top5Jobs" (click)="navigateToJob(job.id)" class="cursor-pointer">
                        <div class="flex mb-4" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;">
                          <div class="">
                            <img [src]="job.img_url" style="width: 100px; height: 100px;" />
                          </div>
                          <div class="flex pl-4 p-4 flex-col justify-between">
                            <div class="cursor-pointer changing font-medium">
                              <p style="font-size: 1rem;">{{ job.title }}</p>
                            </div>
                            <div class="flex">
                              <span class="font-light">{{ job.post_date | date:'dd MMM, yyyy' }}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                </div>
            </div>
        </div>
    </div>
</div>