rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /public/{imageId} {
      allow read: if true;
      allow write: if false;
    }

    match /Banners/{imageId} {
      allow read: if true;
      allow write: if false;
    }

    match /blog-images/{imageId} {
      allow read: if true;
      allow write: if false;
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
